:root {
  --primary-color: #C9F31D;
  --secondary-color: #000000;
  --text-color: #FFFFFF;
  --border-color: #E0E0E0;
}

body {

  font-family: "Tajawal", sans-serif !important;
}

.bg {
  background-color: var(--secondary-color) !important;

}

.text-one {
  color: var(--primary-color) !important;
}

.bg-one {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;


}

.nav-toggle {
  border: none !important;
  box-shadow: none !important;
}

.hvr-sweep-to-left::before {
  background-color: rgba(0, 0, 0, 0.099);
}

.no-border-header {
  outline: none !important;
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 450px) {
  .custom-offcanvas {
    width: 75% !important;
  }


}


:focus-visible {
  outline: none !important;
}

.offcanvas {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.custom-offcanvas-2::-webkit-scrollbar {
  width: 5px;
}

.custom-offcanvas-2::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.custom-offcanvas-2::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 8px;

}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);

}

.nav-item.active {
  border-bottom: 2px solid currentColor;
  color: var(--primary-color) !important;
  font-weight: bold;
}

/* start home style========================= */

.home-container {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
  
}
/* .over-lay{
top: -80px;
} */
/* .over-lay::before{
  position: absolute;
  width: 10%;
  height: 100%;
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
} */